	
	JAVA FULL STACK DEVELOPMENT:-
	---------------------------

FRONT-END DEVELOPMENT:- 			STATUS:-
				
	1) HTML					DONE
	2) CSS					
	3) JAVASCRIPT

BACE-END DEVELOPMENT:-

	1) SPRING BOOT
	2) HIBERNATE
	3) SERVLETS
	4) ZENTIS TOOL && MAVIN TOOL

MICROSERVICES:-
	
	1) REST API
	2) CLOUD (AZURE OR AWS)
	3) DATABASE (SQL OR NOSQL)
	4) GOOGLE DOCKER

