<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>
<body>
    <div>
        In this page you can do log in.
    </div>
    <br>
    <form action="{% url 'login' %}" method="post">

        {% csrf_token %}

        Username :- <input type="text" name="username"><br>
        Password :- <input type="password" name="password"><br><br>

        <input type="submit">
    </form>
    <div>
        {% for message in messages %}
        {{ message }}
        {% endfor %}
    </div>
</body>
</html>