<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration Page</title>
</head>
<body>
    <div>
        <a href="/">Home</a>
    </div>
    <div>
        This is the registration page
    </div><br><br>
    <form action="{% url 'register' %}" method="post">

        {% csrf_token %}

        First Name :- <input type="text" name="first_name"><br>
        Last Name :- <input type="text" name="last_name"><br>
        Username :- <input type="text" name="username"><br>
        Email :- <input type="email" name="email"><br>
        Password :- <input type="password" name="password1"><br>
        Conform Password :- <input type="password" name="password2"><br><br>

        <input type="submit"><br><br>

    </form>
    <div>
        {% for message in messages %}
        {{ message }}
        {% endfor %}
    </div>
</body>
</html>